<% provide(:title, "halp") %>
<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) %></title>
	</head>
	<body>
		<h1>Help</h1>
		<p>Help yourself, ya filthy animal!</p>
		<p>Help is on the way, dear!</p>
	</body>
</html>